/* contact.html */
.main
{
    height:calc(100% - 30px);
}

.contact
{
    opacity: 0;
    font-family: 'Yusei Magic', sans-serif;
}

.contact div
{
    background-color: white;
    border-radius: 20px;
}

@media screen and (min-width: 769px)
{
    .contact
    {
        max-width: 90%;
        margin:10px auto 0 auto;
    }
}

@media screen and (min-width: 1024px)
{
    .contact
    {
        max-width: 1000px;
        margin:10px auto 0 auto;
    }
}

@media screen and (max-width: 768px)
{
    .contact
    {
        width:90%;
        margin:10px auto 0 auto;
    }
}

@media screen and (max-width: 480px)
{
    .contact
    {
        width:95%;
        margin:10px auto 0 auto;
    }
}
